<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.TRecruitmentMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.TRecruitment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="litimg" property="litimg" jdbcType="VARCHAR" />
    <result column="published_time" property="publishedTime" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="college_id" property="collegeId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pojo.TRecruitment" extends="BaseResultMap" >
    <result column="details" property="details" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, litimg, published_time, author, college_id, type
  </sql>
  <sql id="Blob_Column_List" >
    details
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pojo.TRecruitmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_recruitment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pojo.TRecruitmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_recruitment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_recruitment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_recruitment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.TRecruitmentExample" >
    delete from t_recruitment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.TRecruitment" >
    insert into t_recruitment (id, title, litimg, 
      published_time, author, college_id, 
      type, details)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{litimg,jdbcType=VARCHAR}, 
      #{publishedTime,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{collegeId,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{details,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.TRecruitment" >
    insert into t_recruitment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="litimg != null" >
        litimg,
      </if>
      <if test="publishedTime != null" >
        published_time,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="collegeId != null" >
        college_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="details != null" >
        details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="litimg != null" >
        #{litimg,jdbcType=VARCHAR},
      </if>
      <if test="publishedTime != null" >
        #{publishedTime,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null" >
        #{collegeId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        #{details,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.TRecruitmentExample" resultType="java.lang.Integer" >
    select count(*) from t_recruitment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_recruitment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.litimg != null" >
        litimg = #{record.litimg,jdbcType=VARCHAR},
      </if>
      <if test="record.publishedTime != null" >
        published_time = #{record.publishedTime,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.collegeId != null" >
        college_id = #{record.collegeId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.details != null" >
        details = #{record.details,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_recruitment
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      litimg = #{record.litimg,jdbcType=VARCHAR},
      published_time = #{record.publishedTime,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      college_id = #{record.collegeId,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      details = #{record.details,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_recruitment
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      litimg = #{record.litimg,jdbcType=VARCHAR},
      published_time = #{record.publishedTime,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      college_id = #{record.collegeId,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.TRecruitment" >
    update t_recruitment
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="litimg != null" >
        litimg = #{litimg,jdbcType=VARCHAR},
      </if>
      <if test="publishedTime != null" >
        published_time = #{publishedTime,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null" >
        college_id = #{collegeId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pojo.TRecruitment" >
    update t_recruitment
    set title = #{title,jdbcType=VARCHAR},
      litimg = #{litimg,jdbcType=VARCHAR},
      published_time = #{publishedTime,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      college_id = #{collegeId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      details = #{details,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.TRecruitment" >
    update t_recruitment
    set title = #{title,jdbcType=VARCHAR},
      litimg = #{litimg,jdbcType=VARCHAR},
      published_time = #{publishedTime,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      college_id = #{collegeId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
 <resultMap type="com.pojo.TRecruitment" id="tRecruitmentCollegeResultMap">
	<id property="id" column="id" />
	<result property="title" column="title" />
	<result property="litimg" column="litimg" />
	<result property="publishedTime" column="published_time" />
	<result property="author" column="author" />
	<result property="collegeId" column="college_id" />
	<result property="type" column="type" />
	<result property="details" column="details" />
	
	<!-- association ：配置一对一属性 -->
	<!-- property:实体类中里面的 TCollege 属性名 -->
	<!-- javaType:属性类型 -->
	<association property="tCollege" javaType="com.pojo.TCollege" >
		<!-- id:声明主键，表示 college_id 是关联查询对象的唯一标识-->
		<id property="collegeId" column="college_id" />
		<result property="collegeName" column="college_name" />
		<result property="collegeImg" column="college_img" />
	</association>
</resultMap>

<!-- 一对一关联，查询订单，订单内部包含用户属性 -->
<select id="querytTRecruitmentResultMap" resultMap="tRecruitmentCollegeResultMap">
	SELECT
	r.id,
	r.title,
	r.litimg,
	r.published_time,
	r.author,
	r.type,
	r.details,
	c.college_name
	FROM
	`t_recruitment` r
	LEFT JOIN `t_college` c ON r.college_id = c.college_id
</select>

</mapper>